$primary-text-color:#292D32;
$primary-button-bgcolor: rgba(22, 192, 152, 0.38);
$primary-border-color:#00B087;
$primary-green-color:#008767;
$primary-red-color:#DF0404;
$primary-red-button-color:#FFC5C5;
$primary-titles-color:#B5B7C0;
$primary-main-t-color:#ACACAC;
